* {
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  color: var(--main-font-color);
}

.full-screen {
  height: 100vh;
  width: 100%;
}

.full-width {
  width: 100%;
}

.content-page {
  padding: 40px;
}

.logical-block {
  margin-top: 60px;
  margin-bottom: 60px;
}

.medium-button {
  padding: 25px 50px;

  background-color: var(--main-button-background-color);
  border: 1px solid var(--main-button-border-color);
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.no-select {
  user-select: none;
}

.display-none {
  display: none;
}

.disabled {
  background-color: hsl(0, 0%, 85%);
}

input {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  outline: none;
  background-color: var(--white);
  border: 1px solid var(--input-border-color);
}

input::placeholder {
  color: var(--input-placeholder-color);
}

:root {
  --main-font-color: #333;
  --main-button-background-color: lightgrey;
  --main-button-border-color: #999;
  --input-border-color: #999;
  --input-placeholder-color: #888;
  --white: #fff;
}
