#back-to-rooms-button {
  margin-top: 20px;
}

#players-list {
  flex-direction: column; 
}

#players-list > .player-info + .player-info {
  margin-top: 40px;
}

#right-game-side {
  margin-left: 200px;
}

#words-box {
  position: relative;
  width: 700px;
  height: 700px;

  margin-right: 100px;
  border: 1px solid var(--input-border-color);
}

#ready-button {
  text-transform: uppercase;
  padding: 15px 30px;
  font-size: 32px;

  background-color: var(--main-button-background-color);
  border: 1px solid var(--main-button-border-color);
}

.player-info > .player-name::before {
  position: relative;
  display: inline-block;
  content: " ";
  right: 10px;
  top: 4.5px;

  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: red;
}

.player-info.ready > .player-name::before {
  position: relative;
  display: inline-block;
  content: " ";
  right: 10px;
  top: 4.5px;

  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: green;
}

.player-info.you > .player-name::after {
  display: inline;
  content: ' (you)';
  font-style: italic;
}

.player-progress-wrapper {
  margin-top: 20px;
  width: 500px;
  height: 35px;
  border: 1px solid var(--input-border-color);
}

.player-progress {
  background-color: darkolivegreen;
  height: 100%;
}

.player-progress.full {
  background-color: lightgreen;
}

#timer-left {
  font-size: 36px;
}

#text-container {
  font-size: 20px;
  width: 300px;
  text-align: center;
}

#game-left {
  position: absolute;
  top: 5px;
  right: 5px;
}

#typed-letters {
  background-color: green;

}

#next-letter {
  text-decoration: underline;
}

#text-container span {
  margin: 0;
  padding: 0;
}
