#rooms-list {
  flex-direction: row;
  width: 100%;
}

#rooms-list > .room-desc + .room-desc {
  margin-left: 30px;
}

.room-desc {
  width: 300px;
  padding: 5px;
  border: 1px solid var(--main-button-background-color); 
}

.room-desc {
  position: relative;
}

.users-number {
  font-size: 14px;

}

.room-name {
  font-size: 32px;
}




